WEB_BASE_URL=https://stg.gajab.com/
GAJAB_MOBILE_NUMBER=
GAJAB_DEFAULT_OTP=123456
GAJAB_PINCODE=560037
GAJAB_EMAIL_RECIPIENT=
ANDROID_APP_PATH=apps/gajab-hackathon-sep4.apk
APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_DEVICE_NAME=Pixel_9a
ANDROID_UDID=emulator-5554
ANDROID_PLATFORM_VERSION=
ANDROID_APP_PACKAGE=
ANDROID_APP_ACTIVITY=