WEB_BASE_URL=https://practicetestautomation.com/practice-test-login/
WEB_USERNAME=student
WEB_PASSWORD=Password123
ANDROID_APP_PATH=apps/challenge.apk
APPIUM_SERVER_URL=http://127.0.0.1:4723
ANDROID_DEVICE_NAME=Android Emulator
ANDROID_PLATFORM_VERSION=
ANDROID_APP_PACKAGE=
ANDROID_APP_ACTIVITY=